# document-store test configuration
db:
  adapter: "mongodb"
  mongodb:
    db_name: "documents_test"
    uri: "mongodb://127.0.0.1/"
    pool_size: 8
    auth:
      username: "test"
      password: "secret"
      source: "admin" # if the auth DB is different from the main DB

storage:
  adapter: "test"
  resize_max_width: 500
  encrypt: true