# document-store global configuration
db_name: "documents"
db_uri: "mongodb://127.0.0.1/"
db_size: 8
storage:
  adapter: "gcloud"
  resize_max_width: 900

gcloud:
  project: "my-project"
  bucket: "my-bucket"
  service_account: >-
    { ... }
