# document-store global configuration
server:
  host: "localhost"
  port: 8080
  #ssl_certificate: "/path/to/cert.bundle"
  #ssl_key: "/path/to/cert.key"

db:
  adapter: "mongodb"
  mongodb:
    db_name: "documents"
    uri: "mongodb://127.0.0.1/"
    pool_size: 8
    auth:
      username: "test"
      password: "secret"
      source: "admin" # if the auth DB is different from the main DB

storage:
  adapter: "gcloud"
  resize_max_width: 900
  encrypt: true

gcloud:
  project: "my-project"
  bucket: "my-bucket"
  service_account: >-
    { ... }
